<!DOCTYPE html>
{% load static %}
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
<div id="btn box" class="box">
        <form action="mathgame" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Math Game</button>
                </div>
        </form>
        <form action="memorygame" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Memory Game</button>
                </div>
        </form>
</div>
</body>