<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <title>FatigueDetector</title>
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

      </head>
<body>
<div id="main" class="box">
        <form action="detection_conf" method="GET">
                {% csrf_token %}

                <div class="finish">
                        <button style="font-size: 1.3em" type="submit">Configuration</button>
                </div>
        </form>


        <form action="start_detecting" method="GET">
                {% csrf_token %}

                <div class="finish">
                        <button style="font-size: 1.3em" type="submit">Start</button>
                </div>
        </form>



        <form action="stop_detecting" method="POST">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Pause</button>
                </div>
        </form>



        <form action="tiredness" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Tiredness stats</button>
                </div>
        </form>

        <form action="lifestyle" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Lifestyle</button>
                </div>
        </form>

        <form action="photoresistor_config" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Photoresistor config</button>
                </div>
        </form>


        <form action="distance_sensor_config" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Distance sensor config</button>
                </div>
        </form>


        <form action="games" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Games</button>
                </div>
        </form>


        <form action="shutdown" method="POST">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Shutdown camera</button>
                </div>
        </form>
        

</div>
</body>
</html>