<!DOCTYPE html>

<div id="main">
        <form action="" method="POST">
                {% csrf_token %}

                <div class="finish">
                        <button style="font-size: 1.3em" type="submit">Start</button>
                </div>
        </form>

        <form action="shutdown" method="POST">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Shutdown camera</button>
                </div>
        </form>

        <form action="pause" method="POST">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Pause</button>
                </div>
        </form>

        <form action="tiredness" method="GET">
                {% csrf_token %}

                <div>
                        <button style="font-size: 1.3em" type="submit">Tiredness stats</button>
                </div>
        </form>

</div>
