<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Tiredness</title>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <script>
  function createChart() {
  chartData = JSON.parse(JSON.stringify({{chart_data|safe}}));
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: chartData,
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  }
    </script>
  </head>
<body>
<div class="box">
<h1>{{ message }}</h1>
</div>
<div class="box" style="flex-direction: row;">
<form>
  <label for="date-input">Select Start Date:</label>
  <input type="date" id="date-input" name="start_date">

  
<div>
<label for="end-date-input">Select End Date:</label>
  <input type="date" id="end-date-input" name="end_date">
</div>
<div>
  <button type="button" id="submit-dates-btn">Submit</button>
</div>
</div>


  <script>

    var startDateInput = document.getElementById("date-input");
    var endDateInput = document.getElementById("end-date-input");
    var submitDatesBtn = document.getElementById("submit-dates-btn");

submitDatesBtn.addEventListener("click", function() {
var startValue = startDateInput.value;
var endValue = endDateInput.value;
var currentUrl = new URL(window.location.href);
var searchParams = new URLSearchParams(currentUrl.search);
searchParams.delete("start_date");
searchParams.delete("end_date");
searchParams.append("start_date", startValue);
searchParams.append("end_date", endValue);
currentUrl.search = searchParams.toString();
window.location = currentUrl.toString();
});
  </script>
</form>


<form>
<div class="box">
  <label for="time-interval">Select Time Interval:</label>
  <select id="time-interval" name="time-interval">
    <option value="1">1 min</option>
    <option value="5">5 min</option>
    <option value="15" >15 min</option>
    <option value="60">1 hour</option>
  </select>
</div>
</div>
<script>
  var select = document.getElementById("time-interval");
  select.value = "15";
  select.addEventListener("change", function() {
      var selectedValue = select.value;
    var currentUrl = new URL(window.location.href);
    var searchParams = new URLSearchParams(currentUrl.search);
    searchParams.delete("time_interval");
    searchParams.append("time_interval", selectedValue);
    currentUrl.search = searchParams.toString();
    window.location = currentUrl.toString();
  });
</script>

</form>
        {% if not chart_data %}
    <h1>No data to show</h1>
    {% endif %}

  <canvas id="myChart"></canvas>
  <script>
  function getParameterByName(name)
{
    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
    var regexS = "[\\?&]" + name + "=([^&#]*)";
    var regex = new RegExp(regexS);
    var results = regex.exec(window.location.href);
    if (results == null) return "";
    else return decodeURIComponent(results[1].replace(/\+/g, " "));
}

      var startDateInput = document.getElementById("date-input");
    var endDateInput = document.getElementById("end-date-input");
    startDateInput.value = getParameterByName("start_date");
    endDateInput.value = getParameterByName("end_date");
    var select = document.getElementById("time-interval");
    var timeIntervalValue = getParameterByName("time_interval");
    if (timeIntervalValue) {
      select.value = timeIntervalValue
      }


    </script>
    <script>
  window.addEventListener('load', createChart);
</script>
  </body>
</html>